/* -------------------------------------
   CSS for desktop
--------------------------------------*/

@media screen and (min-width: 601px) {

  h1 {
    font-size: var(--desktop-font-size-xxl);
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: var(--desktop-font-size-xl);
    margin-top: 1.67rem;
    margin-bottom: 1.67rem;
  }

  h3 {
    font-size: var(--desktop-font-size-l);
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
  }

  h4,
  summary {
    font-size: var(--desktop-font-size-m);
  }

  h5 {
    font-size: var(--desktop-font-size-s);
  }

  h6 {
    font-size: var(--desktop-font-size-xs);
  }

  h1>small {
    font-size: var(--desktop-font-size-l);
  }

  h2>small {
    font-size: var(--desktop-font-size-m);
  }

  h3>small,
  h3 small {
    font-size: var(--desktop-font-size-s);
  }

  /* Miscellaneous */

  small {
    display: block;
  }

  h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Container */

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* skill-set */

  .skill-set>.explanation {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  table {
    width: var(--max-characters);
  }

  .skill-set>table {
    margin-top: 1rem;
  }

  th {
    padding: 0.5rem 1rem;
    text-align: left;
    border-bottom: 0.1rem solid var(--color-black);
    font-family: Georgia, serif;
  }

  td {
    padding: 0.5rem 1rem;
    border-bottom: 0.1rem solid var(--color-grey);
  }

  .stars {
    letter-spacing: 0.2rem;
  }


  /* Description list */

  dl {
    margin-bottom: 2rem;
  }

  dt {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: var(--desktop-font-size-m);
  }

  dd {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }


  /* Personal projects */

  .personal-projects>details {
    margin-top: 2rem;
  }

  summary:hover {
    cursor: pointer;
  }

  summary {
    margin-bottom: 0.5rem;
    font-family: Georgia, serif;
  }

  .content {
    padding-left: 2rem;
  }

  .content dt {
    margin-top: 2rem;
  }

  p {
    max-width: var(--max-characters);
    line-height: 1.5;
    text-align: justify;
  }

  .only-mobile {
    display: none;
  }

  #menu-desktop {
    background-color: white;
    width: 100%;
    border-bottom: 0.1rem dashed black;
  }

  .go-home-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}