/* -------------------------------------
   CSS for mobile
--------------------------------------*/

@media screen and (max-width: 600px) {

  body {
    padding-bottom: 5rem;
  }

  h1 {
    font-size: font-size: var(--mobile-font-size-xxl);
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }

  h2 {
    font-size: font-size: var(--mobile-font-size-xxl);
    margin-top: 1.13rem;
    margin-bottom: 1.13rem;

  }

  h3 {
    font-size: font-size: var(--mobile-font-size-xxl);
    margin-top: 0.98rem;
    margin-bottom: 0.98rem;
  }

  h4,
  summary {
    font-size: font-size: var(--mobile-font-size-xxl);
  }

  h5 {
    font-size: var(--mobile-font-size-s);
  }

  h6 {
    font-size: var(--mobile-font-size-xs);
  }

  h1>small {
    font-size: 1rem;
  }

  /* Miscellaneous */

  small {
    display: block;
  }

  h4 {
    margin-top: 0.85rem;
    margin-bottom: 0.85rem;
  }

  /* Container */

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* skill-set */

  .skill-set>.explanation {
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  table {
    width: 100%;
  }

  .skill-set>table {
    margin-top: 1rem;
  }

  th {
    padding: 0.5rem 1rem;
    text-align: left;
    border-bottom: 0.1rem solid black;
    font-family: Georgia, serif;
  }

  td {
    padding: 0.5rem 1rem;
    border-bottom: 0.1rem solid lightgrey;
  }

  .stars {
    letter-spacing: 0.2rem;
  }


  /* Description list */

  dt {
    font-weight: bold;
    font-family: Georgia, serif;
  }

  dd {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }


  /* Personal projects */

  .personal-projects>details {
    margin-top: 1rem;
  }

  summary:hover {
    cursor: pointer;
  }

  summary {
    margin-bottom: 0.5rem;
    font-family: Georgia, serif;
  }

  .content {
    padding-left: 1.25rem;
  }

  .content dt {
    margin-top: 1rem;
  }

  p {
    max-width: 45ch;
  }

  #menu-mobile {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    border-top: 0.1rem dashed black;
  }

  .go-home-button {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .only-desktop {
    display: none;
  }
}