@import url('https://fonts.googleapis.com/css?family=Cinzel|Montserrat');

:root {
    font-size: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 2rem;
}

h3,
h1>small {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

.skill-set>.explanation {
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-size: 0.8rem;
}

.skill-set>table {
    margin-top: 1rem;
}

th {
    text-align: left;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.625rem;
}
