---
layout: layouts/base.njk
location: ../
---

{% extends "work-experiences.njk" %}
{% import "flags.njk" as flag %}
{% import "links.njk" as link %}

{% block introduction %}
  <h1>Neteven <small><time datetime="2012-11-01">November 2012</time> to <time datetime="2015-09-30">September 2015</time></small></h1>
{% endblock %}

{% block whyIJoined %}
  <h3>Why I joined Neteven</h3>
{% endblock %}


{% block whatWereMyResponsabilites %}
    <h3>What are my responsabilites at Neteven</h3>
{% endblock %}

{% block featuresProjectsIWorkedOn %}
    <h4>Features & Projects I worked on</h4>
    <dl>
      <dt>xxx</dt>
      <dd>
        <p>xxx</p>
      </dd>
    </dl>
{% endblock %}

{% block workMethods %}
    <h4>Work methods</h4>
    <p>My team consisted of 6 developers. We worked in Extreme programing mode.</p>
    <p>I worked in french (read/speak/write) with only french people {{ flag.fr() }}.</p>
{% endblock %}

{% block whyILeft %}
  <h3>Why I left Neteven</h3>
{% endblock %}