---
layout: layouts/base.njk
location: ../
---

{% extends "work-experiences.njk" %}
{% import "flags.njk" as flag %}
{% import "links.njk" as link %}
{% import "video.njk" as video %}

{% block introduction %}
  <h1>Seven Senders <small><time datetime="2017-07-01">July 2017</time> to <time datetime="2018-08-31">August 2018</time></small></h1>
  <p>My title there was <em>Product Owner</em>. Seven Senders is based in Berlin {{ flag.de() }}.</p>
  <p>{{ link.external("https://www.sevensenders.com/", "Click here to know more about Seven Senders") }}</p>
{% endblock %}

{% block whyIJoined %}
  <h3>Why I joined Seven Senders</h3>
  <p>After the closing of the Westwing Berlin office, I needed to find a new challenge. I discoved Seven Senders via my previous manager {{ link.external("https://www.linkedin.com/in/wolf-winter-59250122/", "Wolf Winter") }}, they needed a Product Owner to support their carrier delivery analytics product. I knew part of the logistic world via my experience at {{ link.internal("../../westwing/index.html","Westwing") }} and I was eager to expand my knowledge further in the logistic world.</p>   
{% endblock %}

{% block whatWereMyResponsabilites %}
  <h3>What were my responsabilites at Seven Senders</h3>
  <p>I managed the <em>Analytics</em> and <em>Tracking</em> products that have been later replaced by <em>Sendwise</em>.</p>
{% endblock %}

{% block featuresProjectsIWorkedOn %}
  <h4>Features & Projects I worked on</h4>
  <dl>
    <dt>Launch of Sendwise</dt>
    <dd>
      <p>In 6 months we launched {{ link.external("https://software.sevensenders.com/", "Sendwise") }}, the new version of the previous product called <em>Analytics</em>. <em>Analytics</em> was a pure <abbr title="Personal Home Page or PHP: Hypertext Preprocessor">PHP</abbr> application, with Sendwise we introduced a {{ link.external("https://reactjs.org/", "React") }} front-end on top of the <em>Analytics</em> back-end.</p>
      <p>Sendwise allow the creation of an unlimited amount of tracking pages that you can customize to your needs. You can also customize all emails send to the customers via the application.</p>
      {{ video.url("https://www.youtube-nocookie.com/embed/h2W5UYpZV74") }}
    </dd>
    <dt>Carrier messages notifications</dt>
    <dd>
      <p>Each carrier has its own set of messages to say the same thing (Package scanned at the hub, Package delivered, Delivery attempt failed, etc.). We improved our internal mapping to allow more use cases for our notifications. For each notification, the brand could decide to display it on their tracking pages, send an email to the customer or to their internal users.</p>
    </dd>
    <dt>Integration of Looker</dt>
    <dd>
      <p>{{ link.external("https://looker.com/", "Looker") }} is a Business Intelligence (<abbr title="Business Intelligence">BI</abbr>) tool, that we integrated inside Sendwise to allow our customers to build custom dashboards about their delivery data.</p>
    </dd>
    <dt>Carrier comparison</dt>
    <dd>
      <p>Allow a brand to analize which carrier is the best to deliver their products via various <abbr title="Key Performance Indicator">KPI</abbr> and filters.</p>
    </dd>
    <dt>Heat map to display delivery time from a warehouse</dt>
    <dd>
      <p>Visualize on a map the delivery time from a warehouse to any region in Europe. Brands can see via a color coding quickly in which regions, they are not performing well. This map was done with {{ link.external("https://leafletjs.com/", "Leaflet") }} and {{ link.external("https://gadm.org", "GADM") }} data sets.</p>
    </dd>
  </dl>
{% endblock %}

{% block workMethods %}
  <h4>Work methods</h4>
  <p>My team consisted of 5 to 8 developers. We are worked in Scrum mode with a sprint every 2 weeks.</p>
  <p>I worked in full english (read/speak/write) with a multi-cultural team {{ flag.de() }} {{ flag.ru() }} {{ flag.in() }} {{ flag.pl() }} {{ flag.th() }}.</p>
{% endblock %}

{% block whyILeft %}
  <h3>Why I left Seven Senders</h3>
  <p>After more than a year at Seven Senders and after successfully lunched {{ link.external("https://software.sevensenders.com/", "Sendwise") }} with my team for the {{ link.external("https://k5.de/en/k5-conference/", "K5 2018") }}, I decided that I needed a new adventure with a bigger scope.</p>
  <p>At Seven Senders, I was working in the logistic industry. We provided tracking information about millions of parcels that our customers shipped to their customers.</p>
  <p>I needed a bigger stage, more complexity.</p>
{% endblock %}
