---
layout: layouts/base.njk
location: ../
releaseVideo:
  - name: 2019.03
    source: 'https://www.youtube-nocookie.com/embed/zQojQdcwH-M'
  - name: 2019.07
    source: 'https://www.youtube-nocookie.com/embed/KK6hZPfAo58'
  - name: 2020.01
    source: 'https://www.youtube-nocookie.com/embed/sTABY2aqXmE'
---

{% extends "work-experiences.njk" %}
{% import "link.njk" as link %}
{% import "video.njk" as video %}

{% block introduction %}
  <h1>Spryker <small><time datetime="2018-09-01">September 2018</time> to today</small></h1>
  <p>My title there is <em>Senior Product Manager</em>. Spryker is based in Berlin <abbr title="Germany">🇩🇪</abbr> with offices in Hambourg <abbr title="Germany">🇩🇪</abbr> and Kharkov <abbr title="Ukraine">🇺🇦</abbr>.</p>
  <p>{{ link.external("https://spryker.com/", "Click here to know more about Spryker Commerce Operating System") }}</p>
{% endblock %}

{% block whyIJoined %}
  <h3>Why I joined Spryker</h3>
  <p>The idea of building not an ecommerce system but an Operating System (<abbr title="Operating System">OS</abbr>) to do commerce on any touch-point raised my interested to the highest point.</p>
  <p>I could use all my past experiences about the industries that gravitate around the black hole of commerce there!</p>
{% endblock %}

{% block whatWereMyResponsabilites %}
  <h3>What are my responsabilites at Spryker</h3>
  <p>I manage what we call the Core stream, a team that takes care of the most critical part of the Spryker OS:</p>
  <ul>
    <li>Checkout</li>
    <li>Orders</li>
    <li>Personalisation</li>
    <li>Prices</li>
    <li>Products</li>
    <li>Returns</li>
    <li>Touch-points</li>
    <li>Search</li>
  </ul>
{% endblock %}

{% block featuresProjectsIWorkedOn %}
  <h4>Features & Projects I worked on</h4>
  <dl>
    <dt>Product Release Videos</dt>
    <dd>
      <p>For every product release, we made a presentation video about it. I hosted 3 of them.</p>
      {% for rv in releaseVideo %}
        <!-- Release {{ rv.name }} -->
        {{ video.url(rv.source) }}
      {% endfor %}
    </dd>
    <dt>Personalisation Engine</dt>
    <dd>
      <p>To personalise an experience on one touch-point is already a difficult task, so imagine building an engine to allow a brand to centralise the personalisation of their experience across any number of touch-points (web, apps, email, Point of Sale (<abbr title="Point of SalePoint of Sale ">PoS</abbr>), Social Networks, etc.) and for millions of users.
        <br>I am currently writing a concept about how such a personalisation engine would work with the Spryker OS.</p>
    </dd>
    <dt>Split Delivery</dt>
    <dd>
      <p>Allow a customer to be delivered to multiple addresses and/or to multiple dates.</p>
    </dd>
    <dt>Price List</dt>
    <dd>
      <p>How brands can manage easily the prices of their products when they can have hundreds of touch-points, multiple dimensions and different channels.</p>
    </dd>
    <dt>Catalog Management</dt>
    <dd>
      <p>How brands can manage millions of products, from their own catalog but also the products from their partners (marketplace case). Manage stage and production catalogs with your custom workflow.</p>
    </dd>
    <dt>Size Harmonisation</dt>
    <dd>
      <p>This is mostly a fashion industry problem. Designers and brands define "custom" sizes for their products. Now the problem is to allow customers to select products via their size (FR 40, UK 13, etc.) when most of the products are defined in a totally different set of measurements.</p>
    </dd>
    <dt>Multi-Store</dt>
    <dd>
      <p>Normally you will think about different websites (.fr, .de, .com, etc.), but a store can also be a Point of Sale (<abbr title="Point of Sale">PoS</abbr>), a sale representative, an Alexa, etc.
        <br>So how can a commerce system supports an unlimited amount of touch-points and also touch-points that do not exist yet?</p>
    </dd>
  </dl>
{% endblock %}

{% block workMethods %}
  <h4>Work methods</h4>
  <p>My team consists of 6 to 8 developers. We are working in Scrum mode with a sprint every 2 weeks.</p>
  <p>I work in full english (read/speak/write) with a multi-cultural team <abbr title="Germany">🇩🇪</abbr> <abbr title="Hungary">🇭🇺</abbr> <abbr title="Russia">🇷🇺</abbr> <abbr title="Ukraine">🇺🇦</abbr>.</p>
{% endblock %}
