---
layout: layouts/base.njk
location: ../
---

{% extends "work-experiences.njk" %}
{% import "flags.njk" as flag %}
{% import "links.njk" as link %}

{% block introduction %}
  <h1>Twenga <small><time datetime="2015-10-01">October 2015</time> to <time datetime="2016-10-31">October 2016</time></small></h1>
  <p>My title there was <em>Product Owner</em>. Twenga is based in Paris {{ flag.fr() }}.</p>
  <p>{{ link.external("https://www.twenga-solutions.com", "Click here to know more about Twenga") }}</p>
{% endblock %}

{% block whyIJoined %}
  <h3>Why I joined Twenga</h3>
  <p>After 3 years in the marketplace industy, I needed to change my horizon, to see another industry company, culture. Twenga offered me this challenge to work in the SEO world and mostly around Google products, <em>AdWords</em> and <em>Shopping</em>.</p>
{% endblock %}

{% block whatWereMyResponsabilites %}
  <h3>What are my responsabilites at Twenga</h3>
  <p>Responsible for the Smart BID product: adjusts the bids inside a {{ link.external("https://ads.google.com", "Google AdWords") }} account in real time, based on the web shop traffic.</p>
  <p>Responsible for the Smart FEED product: allows a shop to push its catalog to {{ link.external("https://shopping.google.com", "Google Shopping") }} and adjusts the bids inside Google Adwords account in real time, based on the web shop traffic.</p>
{% endblock %}

{% block featuresProjectsIWorkedOn %}
  <h4>Features & Projects I worked on</h4>
  <dl>
    <dt>Onboarding process</dt>
    <dd>
      <p>We rewritten the onboarding process for our customers to decrease the time needed for them to be live with our products. This new flow allowed us to decrease the onboarding time by 82.5%.</p>
    </dd>
    <dt>Dashboards</dt>
    <dd>
      <p>We created dashboards for our customers to allowed them to track their performance on <em>Google AdWords</em> and <em>Google Shopping</em>.</p>
    </dd>
    <dt>Performance goals</dt>
    <dd>
      <p>We developed a feature to define the objectives of Cost Of Sale / Return Of Investment for <em>Google AdWords</em> and <em>Google Shopping</em> campaigns on a product level.</p>
    </dd>
    <dt>Billing process</dt>
    <dd>
      <p>Implementation of an automatic process to charge customers, based on their advertising spending: saves time for the accounting team</p>
    </dd>
  </dl>
{% endblock %}

{% block workMethods %}
    <h4>Work methods</h4>
    <p>My team consisted of 5 developers. We worked in Kanban mode.</p>
    <p>I worked in french (read/speak/write) with only french people {{ flag.fr() }}.</p>
{% endblock %}

{% block whyILeft %}
  <h3>Why I left Twenga</h3>
{% endblock %}
