---
layout: layouts/base.njk
location: ../
---

{% extends "work-experiences.njk" %}

{% block introduction %}
  <h1>Westwing <small><time datetime="2016-11-01">November 2016</time> to <time datetime="2017-07-31">July 2017</time></small></h1>
  <p>My title there was <em>Product Manager</em>. Westwing is based in Munich <abbr title="Germany">🇩🇪</abbr> but I worked in their Berlin <abbr title="Germany">🇩🇪</abbr> office.</p>
  <p><a href="https://www.westwing.de/" target="_blank" rel="noopener">Click here to know more about Westwing</a></p>  
{% endblock %}

{% block whyIJoined %}
  <h3>Why I joined Westwing</h3>
{% endblock %}

{% block whatWereMyResponsabilites %}
  <h3>What are my responsabilites at Westwing</h3>
{% endblock %}

{% block featuresProjectsIWorkedOn %}
  <h4>Features & Projects I worked on</h4>
  <dl>
    <dt>xxx</dt>
    <dd>
      <p>xxx</p>
    </dd>
  </dl>
{% endblock %}

{% block workMethods %}
  <h4>Work methods</h4>
  <p>My team consisted of 6 developers. We worked in Scrum mode with a sprint every week.</p>
  <p>I work in full english (read/speak/write) with a multi-cultural team.</p>
{% endblock %}