---
layout: layouts/base.njk
location: ../
---

<section class="back-to-home-page">
  <a href="../../index.html">Back to home page</a>
</section>
<section class="introduction">
  <h1>Westwing <small><time datetime="2018-09-01">xxx</time> xxx</small></h1>
</section>
<section class="why-i-joined">
  <h3>Why I joined Westwing</h3>
</section>
<section class="what-i-did">
  <section class="what-were-my-responsabilites">
    <h3>What are my responsabilites at Westwing</h3>
  </section>
  <section class="features-projects-i-worked-on">
    <h4>Features & Projects I worked on</h4>
    <dl>
      <dt>xxx</dt>
      <dd>
        <p>xxx</p>
      </dd>
    </dl>
  </section>
  <section class="work-methods">
    <h4>Work methods</h4>
    <p>My team consisted of 6 developers. We worked in Scrum mode with a sprint every week.</p>
    <p>I work in full english (read/speak/write) with a multi-cultural team.</p>
  </section>
</section>
