{% macro de() %}<abbr title="Germany">🇩🇪</abbr>{% endmacro %}
{% macro fr() %}<abbr title="France">🇫🇷</abbr>{% endmacro %}
{% macro hu() %}<abbr title="Hungary">🇭🇺</abbr>{% endmacro %}
{% macro in() %}<abbr title="India">🇮🇳</abbr>{% endmacro %}
{% macro it() %}<abbr title="Italia">🇮🇹</abbr>{% endmacro %}
{% macro lk() %}<abbr title="Sri Lanka">🇱🇰</abbr>{% endmacro %}
{% macro mk() %}<abbr title="Macedonia">🇲🇰</abbr>{% endmacro %}
{% macro pl() %}<abbr title="Poland">🇵🇱</abbr>{% endmacro %}
{% macro ru() %}<abbr title="Russia">🇷🇺</abbr>{% endmacro %}
{% macro th() %}<abbr title="Thailand">🇹🇭</abbr>{% endmacro %}
{% macro ua() %}<abbr title="Ukraine">🇺🇦</abbr>{% endmacro %}
{% macro uk() %}<abbr title="United Kingdom">🇬🇧</abbr>{% endmacro %}
{% macro us() %}<abbr title="United States of America">🇺🇸</abbr>{% endmacro %}
{% macro za() %}<abbr title="South Africa">🇿🇦</abbr>{% endmacro %}

