<section id="menu-desktop" class="only-desktop">
  <div class="container">
    <h3 class="go-home-button">
      <a href="/">Jeremy Fourna</a>
      <small>Product Manager</small>
    </h3>
  <div>
</section>