<section id="menu-desktop" class="only-desktop">
  <div class="container">
    <h3 class="go-home-button">
      <a href="/">Jeremy Fourna<br><small>Product Manager</small></a>
    </h3>
  <div>
</section>