<section class="introduction">
	{% block introduction %}{% endblock %}
</section>
<section class="why-i-joined">
	{% block whyIJoined %}{% endblock %}
</section>
<section class="what-i-did">
	<section class="what-were-my-responsabilites">
		{% block whatWereMyResponsabilites %}{% endblock %}
	</section>
	<section class="features-projects-i-worked-on">
		{% block featuresProjectsIWorkedOn %}{% endblock %}
	</section>
	<section class="work-methods">
		{% block workMethods %}{% endblock %}
	</section>
</section>
<section class="why-i-left">
	{% block whyILeft %}{% endblock %}
</section>